extends ../layout
block content
    a(href='/clinic/create')
        button.btn.btn-success Добавить

    div
        table.table.table-striped
            thead.thead-dark
                tr: th Наименование
                    th Город
                    th
            tbody
                each clinic in requests
                    tr
                        td
                            a #{clinic.name}
                        td
                            a(href='/city/view?id=' + clinic.city_id.id) #{clinic.city_id.name}
                        td
                            a(href='/clinic/view?id=' + clinic.id)
                                i.fa.fa-eye
