extends ../layout
block content
    a(href='/clinic/create')
        button.btn.btn-success Добавить

    div
        table.table.table-striped
            thead.thead-dark
                tr: th Наименование
                    th
            tbody
                each service in services
                    tr
                        td
                            a #{service.name}
                        td
                            a(href='/clinic/view?id=' + service.id)
                                i.fa.fa-eye
